# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# App settings
appsettings.json
appsettings.*.json

# misc
.vscode
cache
.*cache
.DS_Store
*.env
.idea/
*.pem
.history
.vercel
